.footer {
  background-color: rgba(159, 38, 84, 0.9);
  color: white;
  padding: 10px 20px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.text {
  margin: 0;
}

.link {
  color: rgb(255, 255, 255);
  text-decoration: none;
  margin-left: 10px;
}

.link:hover {
  color: pink;
  text-decoration: underline;
}
